@import "../../Variable.scss";
.register {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  height: 96vh;
  width: 98vw;
  border-radius: 5px;
  background-color: $ghostWhite;
  box-shadow: $shadow;
}
@media screen and (max-width: 768px) {
  .register {
    flex-direction: column;
  }
}
