//colors
$ghostWhite: #f2f2f9;
$white: #fffefe;
$imgback: #f6f7f6;
$blue: #2eaefe;
$shadow: 7px 14px 21px 0px rgba(0, 0, 0, 0.1);
$gray: #636b71;
$lightgray: #cfd9df;

//font
$font: "Roboto", sans-serif;
